* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}



/*-----------------Nav Styles/Section-1
                    --------------------------*/
main {
    background: rgba(255, 144, 14, 0.1);
}

.nav-container {
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

.title-container {
    margin-top: 25px;
}

.list-items {
    display: flex;
    list-style: none;
    margin-top: 25px;

}

.list-item {
    margin-top: 8px;
    margin-right: 25px;
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}


/* Section 2 styles */
.banner-container,
.architecture-container {
    text-align: center;
}

.banner-title,
.architecture-title {
    font-size: 64px;
    font-weight: 700;
    margin-top: 70px;
}

.banner-description,
.architecture-description {
    color: #727272;
    font-size: 16px;
    padding: 10px;
    width: 868px;
    height: 52px;
    margin: auto;
    margin-top: 10px;
}

.grey-text {
    color: #727272;
}

.orange-text {
    color: #FF900E;
}

.button {
    padding: 20px 25px;
    background: #FF900E;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 20px;
}

/* Banner Image Style */

.image-size {
    height: 50%;
    width: 90%;
}

.banner-image {
    padding: 40px 140px;
}

/* section 3 styles */

.architecture-container {
    height: 100vh;
    width: 100%;
    padding: 55px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.architectures {
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.architecture-feature {
    text-align: left;
    margin-left: 10px;
}

/* Section 4 styles */
.facility-class {
    display: flex;
    justify-content: center;
}

.facility-class {
    text-align: left;
    padding: 80px;
}

.facility-title {
    font-size: 45px;
    margin-bottom: 15px;
    border-left: 5px solid #FF900E;
    padding: 10px;
}

.title-facility-description {
    margin-bottom: 20px;
    color: #727272;
}

/* the 4th facilities style */
.facilities-container {
    height: 100vh;
    width: 70%;
    padding: 50px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px grey;
}

.facilities-title {
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.facility-description {
    font-size: 12px;
    color: #727272;
}

/* section 5 styles */

.facts {
    text-align: left;
    margin-left: 65px;
}

.fact-title {
    font-size: 45px;
    font-weight: 600;
    padding: 10px;
}

.fact-description {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    color: #727272;
}

/* Facts Style */
.fact-container {
    padding: 45px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

/* Box style */
.resources {
    border: 1px solid #FF900E;
    padding: 45px;
}

/*-------------------------
                       Special Effects
                       ------------------------------*/

.resources:hover {
    background-color: #ffb764;
    transform: translate(25px, 0px);
}

/* Section 6 styles */
.text {
    text-align: center;
}

.text-head {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 80px;
}

.title {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
}

.brands {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    filter: grayscale(100%);
}

/* Section 7/Log in styles */
.login-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-title {
    font-size: 28px;
    font-weight: 700;
}

.login-form input {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 5px;
}

.login-form input[type="submit"] {
    background-color: hwb(32 33% 0%);
    border: 0px;
}

/* Footer Section */
footer {
    margin: 0 auto;
    width: 70%;

}

.footer-content {
    padding: 25px 0px;
    text-align: center;
    margin-top: 80px;
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 100px; }

   @media only screen and (max-width: 576px) {
    
   }